.wrapper {
    display: grid;
    grid-template-areas: 'frame frame' 'roll1 roll2' 'score score';
    grid-template-columns: 1fr 1fr;
    width: 80px;
    border: 1px solid black;

    &.ten {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 'frame frame frame' 'roll1 roll2 roll3' 'score score score';
    }

    .roll1 {
        grid-area: roll1;
        font-size: large;
        height: 20px;
    }
    
    .roll2 {
        grid-area: roll2;
        border-left: 1px solid black;
        border-bottom: 1px solid black;
    }

    .roll3 {
        grid-area: roll3;
        border-left: 1px solid black;
        border-bottom: 1px solid black;
    }

    .frame { 
        grid-area: frame;
        background-color: rgb(26, 72, 101);
        border-bottom: 1px solid black;
        font-size: small;
        color: white;
    }

    .score {
        grid-area: score;
        height: 17px;
    }
}
