.wrapper {
    display: grid;
    grid-template-areas: 'frame frame' 'roll1 roll2' 'score score';
    grid-template-columns: 1fr 1fr;
    border: 1px solid black;

    &.strike {
        background-color:rgb(238, 137, 154);
        
        .roll2 {
            color: red;
            font-weight: bold;
        }
        
        &.ten {
            .roll1 {
                color: red;
                font-weight: bold;
            }
            
            .roll2 {
                color: black;
                font-weight: normal;
            }
        }
    }
    
    &.spare {
        background-color: rgb(179, 179, 179);
        
        .roll2 {
            color: rgb(14, 68, 148);
            font-weight: bold;
        }
    }
    
    &.current {
        border: 3px solid rgb(14, 68, 148);
        // background: radial-gradient(circle, rgba(25,66,120,0.4) 0%, rgba(9,121,17,0.4) 100%);
    }
    
    &.ten {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 'frame frame frame' 'roll1 roll2 roll3' 'score score score';
    }
    
    .frameHeader { 
        font: 400 1rem/1.2em Ubuntu, sans-serif;
        grid-area: frame;
        background-color: var(--earthy-blue);
        border-bottom: 1px solid black;
        font-size: 1em;
        color: white;
        padding: .3em;
    }
    
    .roll1, .roll2, .roll3 {
        font-family: 'Indie Flower', cursive;
        font-size: 1.2em;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.3em;
        padding: 0.3em;
        height: 0.7em;
        width: 1em;
    }

    .roll1 {
        grid-area: roll1;
    }
    
    .roll2 {
        grid-area: roll2;
        border-left: 1px solid black;
        border-bottom: 1px solid black;
    }
    
    .roll3 {
        grid-area: roll3;
        border-left: 1px solid black;
        border-bottom: 1px solid black;
    }
    
    .score {
        font-family: 'Indie Flower', cursive;
        font-size: 1.2em;
        font-weight: bold;
        grid-area: score;
        height: 17px;
        padding: 0.3em;
    }
}
